<script lang="ts">
	import { onMount } from 'svelte';
	import type { Writable } from 'svelte/store';

	export let attributePrefix = 'data-attribute-tooltip';
	export let attributeId = `${attributePrefix}-id`;
	export let attributeText = `${attributePrefix}-text`;

	export let editMode = false;
	export let attributeStore: Writable<Map<string, string>>;

	let attributedElementMap: Map<string, Element>;
	let currentAttributingId: string | null = null;
	let currentAttributingElement: Element | null = null;
	let editing = false;
	let editingText = '';

	function gatherAttributedElementMap() {
		const attributedElements = document.querySelectorAll(`[${attributeId}]`);
		return new Map(
			[...attributedElements].map((element) => [
				element.getAttribute(attributeId) ?? crypto.randomUUID(),
				element,
			])
		);
	}

	function handleMouseover(event: MouseEvent) {
		if (editing) {
			return;
		}

		const element = event.target;
		console.debug(element, event);
		if (!(element instanceof Element) || !element.hasAttribute(attributeId)) {
			return;
		}

		currentAttributingId = element.getAttribute(attributeId);
		currentAttributingElement = element;
		editingText = $attributeStore.get(currentAttributingId ?? '') ?? '';
	}

	function handleMouseout(event: MouseEvent) {
		if (editing) {
			return;
		}

		currentAttributingId = null;
		currentAttributingElement = null;
		editingText = '';
	}

	function handleClick(event: MouseEvent | PointerEvent) {
		if (!editMode) {
			return;
		}

		const element = event.target;
		console.debug(element, event);
		if (!(element instanceof Element) || !element.hasAttribute(attributeId)) {
			return;
		}

		currentAttributingId = element.getAttribute(attributeId);
		currentAttributingElement = element;
		editing = true;
		editingText = $attributeStore.get(currentAttributingId ?? '') ?? '';
	}

	function save() {
		attributeStore.update((storeValue) => {
			if (currentAttributingId === null) {
				return storeValue;
			}

			storeValue.set(currentAttributingId, editingText);

			return storeValue;
		});

		editing = false;
	}

	$: if (editing && !editMode) {
		editing = false;
	}

	onMount(() => {
		const unsubscribe = attributeStore.subscribe((storeValue) => {
			attributedElementMap = gatherAttributedElementMap();
			storeValue.forEach((text, id) =>
				attributedElementMap.get(id)?.setAttribute(attributeText, text)
			);
		});

		return () => unsubscribe();
	});
</script>

<svelte:body on:mouseover={handleMouseover} on:mouseout={handleMouseout} on:click={handleClick} />

<pre>
editMode: {editMode}
currentAttributingElement: {currentAttributingElement?.getAttribute(attributeId)}
editing: {editing}
</pre>

{#if currentAttributingElement !== null && (currentAttributingElement.getAttribute(attributeText) || editMode)}
	<div class="tooltip">
		{#if editMode}
			<textarea bind:value={editingText} />
			<button on:click={save}>save</button>
		{:else}
			{currentAttributingElement.getAttribute(attributeText) ?? ''}
		{/if}
	</div>
{/if}

<style>
	.tooltip {
		border: 1px solid goldenrod;
	}
</style>
