<script lang="ts">
	import { onMount } from 'svelte';
	import AttributeEditor from '$lib/AttributeEditor.svelte';
	import tooltipStore from './tooltipStore';

	let editMode = false;
	let tooltipStoreAsJsonString = '';

	function importTooltipStoreFromJson() {
		tooltipStore.set(new Map(Object.entries(JSON.parse(tooltipStoreAsJsonString))));
	}

	function exportTooltipStoreToJson() {
		tooltipStoreAsJsonString = JSON.stringify(Object.fromEntries($tooltipStore.entries()));
	}

	onMount(() => {
		const unsubscribe = tooltipStore.subscribe((storeValue) => console.debug(storeValue));

		return () => unsubscribe();
	});
</script>

<button on:click={() => (editMode = !editMode)}>toggle edit mode</button>
<button
	on:click={() =>
		tooltipStore.update((storeValue) => {
			storeValue.forEach((value, key) => storeValue.set(key, value + '0'));
			return storeValue;
		})}
>
	update
</button>
<textarea bind:value={tooltipStoreAsJsonString} />
<button on:click={importTooltipStoreFromJson}>import</button>
<button on:click={exportTooltipStoreToJson}>export</button>

<div>not tooltippable</div>
<div data-attribute-tooltip-id="one">tooltip me</div>
<div data-attribute-tooltip-id="two">already tooltipped</div>

<AttributeEditor {editMode} attributeStore={tooltipStore} />
